@import "src/styles/definitions";

.histogramLabels {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 0.5rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.histogramLabel {
  padding: 0.5rem;
  height: 3rem;
  border-radius: $border-radius;
  border: 1px solid $grey80;
  text-align: center;
  font-size: $text-small;
  user-select: none;
  opacity: $opacity-faded;
}

.diracLabels {
  display: flex;
  margin-top: 1rem;
  margin-bottom: -1rem; // HACK: because plots have too much margin I guess
  max-width: $width-content;
}

.diracLabelInput,
.diracLabelSelect {
  $totalWidth: 560;
  $inputWidth: ((9rem * $unit-px / 1rem) / $totalWidth) * 100%;

  $input1Margin: (100 / $totalWidth * 100%) - ($inputWidth / 2);

  $input2Margin: (225 / $totalWidth * 100%) - (3 * ($inputWidth / 2)) -
    $input1Margin;

  $input3Margin: (480 / $totalWidth * 100%) - (5 * ($inputWidth / 2)) -
    $input2Margin - $input1Margin;

  &:nth-child(1) {
    margin-left: $input1Margin;
  }

  &:nth-child(2) {
    margin-left: $input2Margin;
  }

  &:nth-child(3) {
    margin-left: $input3Margin;
  }
}

.diracLabelInput {
  max-width: 9rem;
}

.diracLabelSelect {
  max-width: 9rem !important;
  min-width: 9rem !important;
  font-size: $text-small;
}
