:global {
  .katex {
    // KaTeX seems to render things a little large.
    font-size: 1.1em !important;
  }

  // Enforce the spacing around display math.
  .katex-display {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }

  svg .katex-display {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }
}

@mixin circled($horizontal-padding, $vertical-shift: none) {
  box-shadow: inset 0 0 0 1px currentColor;
  border-radius: 100%;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;

  @if ($vertical-shift != none) {
    > * {
      position: relative;
      top: $vertical-shift;
    }
  }
}

.smalleye {
  @include circled(0.45em, -0.3em);
}

.wideye {
  @include circled(0.3em);
}

.smiley {
  @include circled(0.18em, 0.05em);
}
