.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

$delimiter-width: 0.56rem; // About 9px
$comma-width: 0.65rem;

.matrix {
  position: relative;
  padding-left: $delimiter-width + 0.25rem;
  padding-right: $delimiter-width + 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;

  display: grid;

  row-gap: 1rem;
  column-gap: 1rem;

  &.withCommas {
    column-gap: 1rem + $comma-width;
  }

  &:not(:only-child) {
    margin-left: 1rem;
  }
}

.component {
  position: relative;
}

.comma {
  position: absolute;
  bottom: -0.25rem;
  right: -$comma-width - 0.1rem;
  width: $comma-width;
  height: auto;
}

.left,
.right {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  width: $delimiter-width;

  svg {
    display: block;
    width: 100%;
    height: auto;
  }
}

.mid {
  flex-grow: 1;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.subscript {
  position: absolute;
  right: -0.8rem;
  bottom: -0.8rem;
}
