@import "styles/definitions";

.continue {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;

  &.done {
    opacity: $opacity-faded;
    transition: opacity $duration-hover $easing;

    .section:hover & {
      opacity: 1;
    }

    &:empty {
      display: none;
    }
  }

  .button {
    margin-left: 1rem;
  }
}

.continueNotAllowedMessage {
  margin-left: auto;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border: 1px solid $grey90;
  max-width: 17rem;
  line-height: 1.5rem; // There are 2 lines; this is fine.
  font-size: $text-small;
  border-radius: $border-radius;
  background: $light-blue;
  opacity: 0.5;
  text-align: center;
  color: #000; // Make the text full black since the opacity is light.
  user-select: none;
}

.section {
  margin-top: 10rem;

  &.sectionFirst {
    margin-top: 0;
  }
}

.reminder {
  border-radius: $border-radius;
  padding: 0.5rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: hsl(0, 0, 95%);
  opacity: 0.75;
  box-shadow: $box-shadow-border, $box-shadow-light;
}

.reminderLabel {
  display: block;
  font-size: $text-smallest;
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.5rem;

  & + * {
    margin-top: 0 !important;

    :first-child {
      margin-top: 0 !important;
    }

    :last-child,
    :last-child :last-child {
      margin-bottom: 0 !important;
    }
  }
}

.help {
  border-radius: $border-radius;
  padding: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: $green-bg;
  box-shadow: $box-shadow-border, $box-shadow-light;

  :first-child,
  .prose :first-child {
    margin-top: 0;
  }
}

/////////////////////////////////////////////
// DEPRECATED:
/////////////////////////////////////////////

// COLUMNS

.columns {
  display: flex;

  width: calc(800px + 2rem);
  margin: 0 auto;
}

.column {
  max-width: 400px;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

// PART & QUESTION

.part,
.question {
  position: relative;
  margin-top: 1rem;
}

.label {
  position: absolute;
  right: 100%;

  margin: 0;
  padding-right: 16px;

  text-align: right;
  font-weight: bold;
  font-weight: 700;

  opacity: 0.75;
}

h2.label {
  font-size: 1.6rem;
}
h3.label {
  font-size: 1.4rem;
}
h4.label {
  font-size: 1.1rem;
}
h5.label {
  font-size: 1.1rem;
}

.description {
  max-width: $width;
}
