@import "styles/definitions";

.continue {
  margin-top: 2rem;
  display: flex;
  flex-direction: row-reverse;

  .button {
    margin-left: 1rem;
  }
}

.section {
  margin-top: 10rem;

  &.sectionFirst {
    margin-top: 0;
  }
}

.reminder {
  border-radius: 3px;
  padding: 0.5rem 1rem 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background: hsl(0, 0, 95%);
  opacity: 0.75;
}

.reminderLabel {
  display: block;
  font-size: $text-smallest;
  text-transform: uppercase;
  opacity: 0.75;
  line-height: 1.5rem;

  & + * {
    margin-top: 0 !important;
  }
}

/////////////////////////////////////////////
// DEPRECATED:
/////////////////////////////////////////////

// COLUMNS

.columns {
  display: flex;

  width: calc(800px + 2rem);
  margin: 0 auto;
}

.column {
  max-width: 400px;
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

// PART & QUESTION

.part,
.question {
  position: relative;
  margin-top: 1rem;
}

.label {
  position: absolute;
  right: 100%;

  margin: 0;
  padding-right: 16px;

  text-align: right;
  font-weight: bold;
  font-weight: 700;

  opacity: 0.75;
}

h2.label {
  font-size: 1.6rem;
}
h3.label {
  font-size: 1.4rem;
}
h4.label {
  font-size: 1.1rem;
}
h5.label {
  font-size: 1.1rem;
}

.description {
  max-width: $width;
}
