// 1rem in pixels.
$unit-px: 12;

$font-size: 16px;

$width: $font-size * 35;

$two-column-width: $font-size * (24 * 2 + 1);

@mixin full-width-center {
  max-width: $width;
  margin-left: auto;
  margin-right: auto;
}

@mixin two-column-center {
  max-width: $two-column-width;
  margin-left: auto;
  margin-right: auto;
}

// Typography.

$font: "Lato", sans-serif;

$regular: 400;
$bold: 700;

// Standard typographic scale:
// 6, 7, 8, 9, 10, 11, 12, 14, 16, 18, 21, 24, 36, 48, 60, 72

// Scale we're going with: "Major Second"
// https://type-scale.com/?size=16&scale=1.125&text=A%20Visual%20Type%20Scale&font=Lato&fontweight=400&bodyfont=Lato&bodyfontweight=400&lineheight=1.5&backgroundcolor=white&fontcolor=%23333&preview=false

// $text-<name>: <pixel-size>rem / $v;
$text-h1: 28.83rem / $unit-px;
$text-h2: 25.63rem / $unit-px;
$text-h3: 22.78rem / $unit-px;
$text-h4: 20.25rem / $unit-px;
$text-h5: 18rem / $unit-px;
$text-h6: 16rem / $unit-px; // Yes it's the same as text-normal
$text-normal: 16rem / $unit-px;
$text-small: 14.22rem / $unit-px;
$text-smaller: 12.64rem / $unit-px;
$text-smallest: 11.24rem / $unit-px;

// Colors.

$grey: #808080;
$grey70: #b3b3b3;
$grey80: #cccccc;

$blue: #2684ff; // Stolen from react-select.
$light-blue: #deebff; // Stolen from react-select.
$border-radius: 4px;

$green1: #33ff19;
$green2: #93b312;
$green1: #30d158;
$green2: #34c759;
$green1: #28a745;
