@import "definitions";

// Enable border-box for everything.

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// Body layout.

body {
  margin: 0;
  padding-bottom: 4rem;
}

// Typography & Vertical Rhythm.

html {
  // Set up 1rem to be one vertical rhythm unit (12px = .75 * 16px).
  font-size: 75%;
}

body {
  // Set the actual default font size
  font-size: $text-normal;
  font-family: $font;
  line-height: 2rem; // 1.5 spacing.
  font-family: $font;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
}

.prose {
  // hyphens: auto;
  // text-align: justify;

  &.no-margin,
  &.no-margin :first-child {
    margin-top: 0;
  }

  @at-root {
    & h1,
    h1#{&},
    & h2,
    h2#{&},
    & h3,
    h3#{&},
    & h4,
    h4#{&},
    & h5,
    h5#{&},
    & h6,
    h6#{&} {
      margin: 2rem 0 0 0;
      font-weight: $bold;
    }

    & h1,
    h1#{&} {
      font-size: $text-h1;
      line-height: 3rem;
    }

    & h2,
    h2#{&} {
      font-size: $text-h2;
      line-height: 3rem;
    }

    & h3,
    h3#{&} {
      font-size: $text-h3;
      line-height: 2rem;
    }

    & h4,
    h4#{&} {
      font-size: $text-h4;
      line-height: 2rem;
    }

    & h5,
    h5#{&} {
      font-size: $text-h5;
      line-height: 2rem;
    }

    & h6,
    h6#{&} {
      font-size: $text-h6;
      line-height: 2rem;
    }

    & p,
    p#{&} {
      margin: 1rem 0 0 0;
    }

    & blockquote,
    blockquote#{&} {
      margin: 1rem 0 0 2rem;
      font-style: italic;
    }

    & ul,
    ul#{&},
    & ol,
    ol#{&} {
      margin: 1rem 0 0 2rem;
    }

    & ul,
    ul#{&} {
      list-style-type: disc;
    }

    & ol,
    ol#{&} {
      list-style-type: decimal;
    }

    & em,
    em#{&} {
      font-style: italic;
    }

    & strong,
    strong#{&} {
      font-weight: $bold;
    }

    & a,
    a#{&},
    & .link,
    .link#{&} {
      cursor: pointer;
      text-decoration: underline;
      color: $blue;

      transition: color 75ms ease-in-out;

      &:hover {
        color: lighten($blue, 10%);
      }
    }
  }
}

// MathJax corrections.

mjx-container[jax="SVG"] {
  // Let's reset things for MathJax.
  font-family: initial;
  line-height: initial;

  &,
  *,
  *::before,
  *::after {
    box-sizing: initial;
  }

  &[display="true"] {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
}

// Utilities

.text-center {
  text-align: center;
}

.margin-top {
  margin-top: 2rem;
}
