@use "colors";
@use "borders";

.carFigure {
  border: 1px solid colors.$neutral-600 !important;
  border-radius: borders.$radius !important;
}

.minusSelect {
  border-color: green;

  &:hover {
    border-color: darkgreen !important;
  }
}

.plusSelect {
  border-color: violet;

  &:hover {
    border-color: darkviolet !important;
  }
}
