@mixin circled($horizontal-padding, $vertical-shift: none) {
  box-shadow: inset 0 0 0 1px currentColor;
  border-radius: 100%;
  padding-left: $horizontal-padding;
  padding-right: $horizontal-padding;

  @if ($vertical-shift != none) {
    > * {
      position: relative;
      top: $vertical-shift;
    }
  }
}

.smalleye {
  @include circled(0.45em, -0.3em);
}

.wideye {
  @include circled(0.3em);
}

.smiley {
  @include circled(0.18em, 0.05em);
}
