@use "borders";
@use "colors";
@use "fonts";
@use "spacing";
@use "sass:math";

.histogramLabels {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  column-gap: 0.5rem;
  margin-top: 1rem;
  padding: 0 2rem;
}

.histogramLabel {
  padding: 0.5rem;
  height: 3rem;
  border-radius: borders.$radius;
  border: 1px solid colors.$neutral-300;
  text-align: center;
  user-select: none;
  color: colors.$neutral-700;
}

.diracLabels {
  display: flex;
  max-width: spacing.$space-4000;
}

.diracLabelInput,
.diracLabelSelect {
  $totalWidth: 620;
  $inputWidth: math.div(math.div(fonts.rem-to-px(9rem), 1px), $totalWidth) *
    100%;

  $input1Margin: math.div(100, $totalWidth * 100%) - math.div($inputWidth, 2);

  $input2Margin: math.div(260, $totalWidth * 100%) -
    (3 * math.div($inputWidth, 2)) - $input1Margin;

  $input3Margin: math.div(530, $totalWidth * 100%) -
    (5 * math.div($inputWidth, 2)) - $input2Margin - $input1Margin;

  &:nth-child(1) {
    margin-left: $input1Margin;
  }

  &:nth-child(2) {
    margin-left: $input2Margin;
  }

  &:nth-child(3) {
    margin-left: $input3Margin;
  }
}

.diracLabelInput {
  max-width: 9rem;
}

.diracLabelSelect {
  max-width: 9rem;
  min-width: 9rem;
}
