.equation {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  & > * + * {
    margin-left: 0.5rem;
  }
}

.expandInputsInTable {
  input {
    min-width: 100%;
  }
}

.green {
  color: green;
}

.blue {
  color: blue;
}
