.graph {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
}

.histogramForm {
  display: flex;
  justify-content: space-evenly;
  padding: 10px 0;
}

.histogramForm > * {
  width: 45%;
}
