@import "styles/definitions.scss";

.tutorialNav {
  position: fixed;

  left: 0;
  top: 0;
  bottom: 0;
  width: 20rem;
  padding: 3rem 1rem 1rem 2rem;

  opacity: 0.85;

  transition: opacity 100ms ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.tutorialLabel {
  margin: 0;
  font-weight: $bold;
}

.tutorialParts {
  margin: 2rem 0 0;
  padding: 0;

  list-style: none;
  counter-reset: tutorial-parts-counter;

  li {
    margin: 0;
    counter-increment: tutorial-parts-counter;
    position: relative;
  }

  li::before {
    content: counter(tutorial-parts-counter) ". ";
    position: absolute;
    right: 100%;
    padding-right: 0.4rem;
    opacity: 0.5;
    pointer-events: none;
  }

  a {
    display: block;
    color: #333;
    text-decoration: none;
    padding-left: 2rem;
    margin-left: -2rem;

    opacity: 0.6;

    &:hover {
      text-decoration: underline;
    }
  }

  .active a {
    opacity: 1;
  }
}

.part {
  padding-bottom: 10rem;
}
