@import "styles/definitions";

.tutorialLink {
  position: relative;
  display: block;
  margin-top: 1rem;
  padding: 1rem 2rem 1rem 1rem;
  border: 1px solid $grey80;
  border-radius: $border-radius;
  background-color: #fff;
  box-shadow: $box-shadow;

  transition: background-color 75ms ease-in-out, border-color 75ms ease-in-out;

  &:hover {
    background-color: $light-blue;
    border-color: $grey70;
    box-shadow: $box-shadow-hover;

    .arrow {
      transform: translateX(0.1rem);
      color: $blue;
    }
  }

  &:active {
    box-shadow: $box-shadow-active;
  }
}

.tutorialLabel {
  font-weight: $bold;
  color: $blue;
}

.arrow {
  display: block;
  position: absolute;
  right: 0.5rem;
  font-size: 3rem;
  margin-left: 0.5rem;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  color: $grey;

  transition: transform 75ms ease-in-out, color 75ms ease-in-out;

  svg {
    width: 2rem;
    height: auto;
  }
}
