AuthUserFile /data/web/htdocs/physicscourses.colorado.edu/EducationIssues/OnlineTutorials/.htpasswd
AuthGroupFile /dev/null
AuthName "CU QM Tutorials (secure)"
AuthType Basic

<Limit GET>
require user schrodinger
</Limit>

# Route everything to index.html

RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /EducationIssues/OnlineTutorials/index.html [L]
