.root {
}

.form {
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.4em;
}

.form input {
  width: 100px;
  font-size: 1.4em;
}

.form input:last-child {
  margin-left: 10px;
}

.graph {
  border: 1px solid #ddd;
  display: block;
  margin: 0 auto;
}
